.index_head {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.index_head_title {
  width: 90%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  position: relative;
}
.index_head_title_name {
  font-size: 30px;
  font-weight: 700;
  margin: 0px 30px;
}

.index_head_title i {
  font-size: 30px;
  color: rgb(255, 255, 0);

  animation: 1s rotatesDollar infinite ease-in;
}

@keyframes rotatesDollar {
  from {
    transform: none;
  }
  to {
    transform: rotateY(1turn);
  }
}

.index_head_title_you {
  position: absolute;
  font-size: 30px;
  font-weight: 700;
  top: -20px;
  color: rgb(190, 8, 8);
}

.index_head_sub {
  font-size: 20px;
  font-weight: 600;
  color: #b38426;
  font-style: italic;
  text-decoration: underline;
  margin: 20px 0px;
}

.index_head_icon {
  font-size: 20px;
  animation: 1.5s iconUpAndDown infinite linear;
  color: #b38426;
}

@keyframes iconUpAndDown {
  0% {
    transform: translateY(-3px);
  }
  50% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(-3px);
  }
}

.index_head_img .bookcover {
  margin: 20px 0px;
  height: 500px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
