@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import "reset.css";
@import "main.css";
@import "nav-bar.css";
@import "content-frame.css";
@import "index_head.css";
@import "footer.css";
* {
  box-sizing: border-box;
}
body {
  background-color: white;
  width: 100%;
  color: #020202;
  font-family: "Noto Sans KR", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.little-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
